/* Header CSS starts here */
* {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  
  img {
    max-width: 100%; }
  
  a {
    text-decoration: none;
    outline: none;
    color: #444; }
  
  a:hover {
    color: #444; }
  
  ul {
    margin-bottom: 0;
    padding-left: 0; }
  
  a:hover,
  a:focus,
  input,
  textarea {
    text-decoration: none;
    outline: none; }
  
  .center {
    text-align: center; }
  
  .left {
    text-align: left; }
  
  .right {
    text-align: right; }
  
  .cp {
    cursor: pointer; }
  
  html, body {
    height: 100%; }
  
  p {
    margin-bottom: 0px;
    width: 100%; }
  
  .no-padding {
    padding: 0px; }
  
  .no-margin {
    margin: 0px; }
  
  .hid {
    display: none; }
  
  .top-mar {
    margin-top: 15px; }
  
  .h-100 {
    height: 100%; }
  
  ::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important; }
  
  .container-fluid {
    padding: 0px; }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: montserrat; }
  
  strong {
    font-family: montserrat; }
  
  body {
    background-color: #f1f1f145 !important;
    font-family: 'Merriweather', serif;
    color: #6A6A6A;
    overflow-x: hidden; }
  
  .session-title {
    padding: 30px;
    margin: 0px; }
    .session-title h2 {
      width: 100%;
      text-align: center;
      font-family: 'Merriweather', serif;
      font-weight: 400; }
    .session-title p {
      max-width: 850px;
      text-align: center;
      float: none;
      margin: auto; }
    .session-title span {
      float: right;
      font-style: italic; }
  
  .inner-title {
    padding: 20px;
    padding-left: 0px;
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccccccc4;
    display: block;
    padding-right: 0px; }
    .inner-title h2 {
      width: 100%;
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      text-align: left;
      border-bottom: 1px solid #863dd9;
      padding-bottom: 10px;
      margin-bottom: 0px;
      width: 300px; }
    .inner-title p {
      width: 100%;
      text-align: center; }
    .inner-title .btn {
      float: right;
      margin-top: -38px;
      font-weight: 600;
      font-size: .8rem; }
  
  .page-nav {
    padding: 40px;
    text-align: center;
    padding-top: 160px; }
    .page-nav ul {
      float: none;
      margin: auto; }
    @media screen and (max-width: 576px) {
      .page-nav {
        padding-top: 186px; } }
    @media screen and (max-width: 356px) {
      .page-nav {
        padding-top: 206px; } }
    .page-nav h2 {
      font-size: 36px;
      width: 100%;
      color: #444; }
      @media screen and (max-width: 600px) {
        .page-nav h2 {
          font-size: 26px; } }
    .page-nav ul li {
      float: left;
      margin-right: 10px;
      margin-top: 10px;
      font-size: 16px; }
      .page-nav ul li i {
        width: 30px;
        text-align: center;
        color: #444; }
      .page-nav ul li a {
        color: #444; }
  
  .btn-success {
    background-color: #de1f26;
    border-color: #de1f26; }
    .btn-success:hover {
      background-color: #de1f26 !important;
      border-color: #de1f26 !important; }
    .btn-success:active {
      background-color: #de1f26 !important;
      border-color: #de1f26 !important; }
    .btn-success:focus {
      background-color: #de1f26 !important;
      border-color: #de1f26 !important;
      box-shadow: none !important; }
  
  .btn-primary {
    background-color: #de1f26;
    border-color: #de1f26; }
    .btn-primary:hover {
      background-color: #de1f26 !important;
      border-color: #de1f26 !important; }
    .btn-primary:active {
      background-color: #de1f26 !important;
      border-color: #de1f26 !important; }
    .btn-primary:focus {
      background-color: #de1f26 !important;
      border-color: #de1f26 !important;
      box-shadow: none !important; }
  
  .btn {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px; }
  
  .form-control:focus {
    box-shadow: none !important;
    border: 2px solid  #863dd9; }
  
  .btn-light {
    background-color: #FFF;
    color: #3F3F3F; }
  
  .collapse.show {
    display: block !important; }
  
  .form-control:focus {
    box-shadow: none;
    border: 2px solid #863dd9 !important; }
  
  .form-control {
    background-color: #F8F8F8;
    margin-bottom: 20px; }
    .form-control:focus {
      background-color: #FFF;
      border-color: #CCC; }
  
  .container {
    max-width: 1170px; }
    @media screen and (max-width: 575px) {
      .container {
        padding: 10px 15px; } }
  
  html {
    scroll-behavior: smooth; }
  
  header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    header .header-top {
      background-color: #de1f26; }
      header .header-top .col-det .ulleft li {
        float: left;
        padding: 11px;
        color: #FFF;
        font-size: 1rem;
        font-weight: 400; }
        header .header-top .col-det .ulleft li i {
          margin-right: 5px; }
        header .header-top .col-det .ulleft li span {
          margin-left: 15px; }
      header .header-top .col-det .ulright {
        float: right; }
        header .header-top .col-det .ulright li {
          float: left;
          padding: 11px;
          color: #FFF;
          font-size: 1rem; }
          header .header-top .col-det .ulright li i {
            margin-right: 5px; }
          header .header-top .col-det .ulright li span {
            margin-left: 15px; }
    header .header-bottom {
      background-color: #FFF; }
      header .header-bottom .navbar {
        float: right; }
        @media screen and (max-width: 991px) {
          header .header-bottom .navbar {
            width: 100%; } }
      header .header-bottom img {
        margin-top: 15px; }
        @media screen and (max-width: 991px) {
          header .header-bottom img {
            padding: 5px;
            margin-top: 0px;
            max-width: 230px; } }
    header .nav-col .navbar-nav li {
      padding: 14px 20px;
      font-weight: 600; }
  
  @media screen and (max-width: 767px) {
    .navbar {
      padding: 0px; } }
  
  .navbar-toggler {
    position: absolute;
    right: 0px;
    top: 19px; }
    @media screen and (max-width: 767px) {
      .navbar-toggler {
        top: -50px; } }
  
  .scroll-to-fixed-fixed {
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  /* HEADER CSS ENDS HERE */


/* FORM CSS STARTS HERE */

/* $yellow:#f5ba1a;
$black:#000000;
$grey:#cccccc; */

.f{
    background-color: #fdf0f2;
}
form {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background: #f2f2f2;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.form_wrapper {
  background: #fff;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 8% auto 0;
  position: relative;
  z-index: 1;
  border-top: 5px solid #f51a1a;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.8s 0.6s ease-out forwards;
  animation: expand 0.8s 0.6s ease-out forwards;
  opacity: 0;
}
.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}
.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper label {
  font-size: 12px;
}
.form_wrapper .row {
  margin: 10px -15px;
}
.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.form_wrapper .col_half {
  width: 50%;
  float: left;
}
.form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}
.form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  width: 30px;
}
.form_wrapper .input_field > span > i {
  padding-top: 10px;
}
.form_wrapper .textarea_field > span > i {
  padding-top: 10px;
}
.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="password"] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type="text"]:hover, .form_wrapper input[type="email"]:hover, .form_wrapper input[type="password"]:hover {
  background: #fafafa;
}
.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.5);
  border: 1px solid #f51a1a;
  background: #fafafa;
}
.form_wrapper input[type="submit"] {
  background: #f51a25;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type="submit"]:hover {
  background: #e10a1c;
}
.form_wrapper input[type="submit"]:focus {
  background: #e10a15;
}
.form_wrapper input[type="checkbox"], .form_wrapper input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.form_container .row .col_half.last {
  border-left: 1px solid #ccc;
}
.checkbox_option label {
  margin-right: 1em;
  position: relative;
}
.checkbox_option label:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  vertical-align: -2px;
  border: 2px solid #ccc;
  padding: 0.12em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.checkbox_option label:after {
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}
.checkbox_option input:hover + label:before {
  border-color: #000;
}
.checkbox_option input:checked + label:before {
  border-color: #000;
}
.checkbox_option input:checked + label:after {
  -moz-animation: check 0.8s ease 0s running;
  -webkit-animation: check 0.8s ease 0s running;
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 20px;
  border-color: #000;
}
.radio_option label {
  margin-right: 1em;
}
.radio_option label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 100%;
  vertical-align: -3px;
  border: 2px solid #ccc;
  padding: 0.15em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.radio_option input:hover + label:before {
  border-color: #000;
}
.radio_option input:checked + label:before {
  background-color: #000;
  border-color: #000;
}
.select_option {
  position: relative;
  width: 100%;
}
.select_option select {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 1px solid #ccc;
  border-radius: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease;
}
.select_option select::-ms-expand {
  display: none;
}
.select_option select:hover, .select_option select:focus {
  color: #000;
  background: #fafafa;
  border-color: #000;
  outline: none;
}
.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}
.select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
  border-top-color: #000;
}
.credit {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 15px;
  color: #f5ba1a;
}
.credit a {
  color: #e1a70a;
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
 }
  25% {
    height: 0;
    width: 7px;
 }
  50% {
    height: 20px;
    width: 7px;
 }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
 }
  25% {
    height: 0;
    width: 7px;
 }
  50% {
    height: 20px;
    width: 7px;
 }
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    opacity: 0;
 }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
 }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
 }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
 }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
 }
}
@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    opacity: 0;
 }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
 }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
 }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
 }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
 }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
 }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
 }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
 }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
 }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
 }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
 }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
 }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
 }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
 }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
 }
}
@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
 }
  .bottom_row .col_half {
    width: 50%;
    float: left;
 }
  .form_container .row .col_half.last {
    border-left: none;
 }
  .remember_me {
    padding-bottom: 20px;
 }
}

/* --FORM CSS ENDS HERE-- */


/* --FOOTER CSS STARTS HERE */
#footer {
    background: #fff;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
    background: #fcebf0;
  }
#footer .footer-newsletter {
    padding: 50px 0;
    background: #fdf0f2;
    text-align: center;
    font-size: 15px;
  }
  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #4c0f0f;
  }
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: red;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #footer .footer-newsletter form input[type=submit]:hover {
    background: red;
  }
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
    color: #777777;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #4c0f12;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: red;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: red;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: red;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: red;
    color: #fff;
    text-decoration: none;
  }
  #footer .copyright {
    float: left;
    color: #4c0f1c;
  }
  #footer .credits {
    float: right;
    font-size: 13px;
    color: #4c0f0f;
  }
  @media (max-width: 575px) {
    #footer .copyright, #footer .credits {
      float: none;
      text-align: center;
    }
  }
  /* --FOOTER CSS ENDS HERE-- */